@import "libs";
@import "helpers/variables";
@import "helpers/mixins";
@import "general/fonts";
@import "general/base";
@import "../blocks/blocks";
@font-face {
	font-family: 'pfhandbookpro-regular';
	src: url('../fonts/pfhandbookpro-regular.eot');
	src: local('☺'), url('../fonts/pfhandbookpro-regular.woff') format('woff'), url('../fonts/pfhandbookpro-regular.ttf') format('truetype'), url('../fonts/pfhandbookpro-regular.svg') format('svg');
	font-weight: normal;
    font-style: normal; 
}

@font-face {
    font-family: 'PF Handbook Pro';
    src: url('../fonts/PFHandbookPro-Bold.eot');
    src: url('../fonts/PFHandbookPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PFHandbookPro-Bold.woff2') format('woff2'),
        url('../fonts/PFHandbookPro-Bold.woff') format('woff'),
        url('../fonts/PFHandbookPro-Bold.ttf') format('truetype'),
        url('../fonts/PFHandbookPro-Bold.svg#PFHandbookPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}




// iphone 5
@media screen and (max-width: 380px){
    .container {
        width: 320px;
    }
    .header-block{
        padding-top: 10px;
        &-phone{display: none;}
        &-operation-mode{display: none;}
        &-center{ padding:0; margin: 0 auto}
        &-personal-area{margin: 0 auto;width: auto; padding-top: 10px; }
        &-basket{padding-top: 0}
    }

    .advertising-block{
        &-big{
            &-img{
                height: 230px;
            }
        }
        &-small{
            padding: 0;
            &-image-left{
                height: 200px;
                margin: 0 auto;
            }
            &-block-right{
                padding: 0 0 0 15px;
                &-image{
                    height: 200px;
                    margin: 0 auto;
                }
            }
            
        }
        
    }
    .carousel-control-next{
        &__mod{
            margin-top: 5%;
            margin-right: 0px;
        }
    }
    .carousel-control-prev{
        &__mod{
            margin-top: 5%;
            margin-left: 0px;
        }
    }
    .sale{
        &-header{
            &-line-left{width: 50px;}
            &-line-right{width: 50px;}
        }
        
    }
    .footer{
        &-block-catalog{
            display: none;
            &-column{
                margin: 0 auto;
                width: 130px;
                height: 246px;
            }
        }
        &-carousel{
            display: block;
            
        }
    }
    
}

// mi8-lite
@media screen and (max-width: 576px){
    .container {
        width: 400px;
    }
    .header-block{
        padding-top: 20px;
        &-phone{margin: 0 auto; width: auto}
        &-operation-mode{margin: 0 auto; width: auto}
        &-center{margin: 0 auto}
        &-personal-area{margin: 0 auto; padding-left:0; padding-top: 10px; width: auto }
        &-basket{margin: 20px auto; padding-left:0; width: auto}
    }

    .advertising-block{
        &-big{
            &-img{
                height: 310px;
            }
        }
        &-small{
            padding: 0;
            &-image-left{
                height: 243px;
                margin: 0 auto;
            }
            &-block-right{
                padding: 0 0 0 15px;
                &-image{
                    height: 243px;
                    margin: 0 auto;
                }
            }
            
        }
    }
    .sale{
        &-header{
            &-line-left{width: 90px;}
            &-line-right{width: 90px;}
        }
        &-block{
            width: 240px;
            min-width: 240px;
            margin: 0 auto;
             &-576{
                  display: none;
            }
        }
    }
    .footer{
        padding-left: 10px;
        &-block-catalog{
            &-column{
                &__link{
                    font-size: 16px;
                }
                &__item-work-time{
                    font-size: 16px;
                }
                &-4{
                    display: none;
                }
                &-1_2{
                    display: block;
                    &__title{
                        padding-top: 10px;
                    }
                }
                &-2_1{
                        
                    display: block;
                }
                &-2_2{
                    display: none;
                }

            }
        }
    }
    
}

@media screen and (max-width: 769px){
    .advertising-block{
        &-big{
            &-img{
                height: 310px;
            }
        }
        &-small{
            padding: 0;
            &-image-left{
                height: 150px;
            }
            &-block-right{
                padding: 0 0 0 15px;
                &-image{
                    height: 150px;
                }
            }
            
        }
    }
    .carousel-control-next{
        &__mod{
            margin-top: 5%;
            margin-right: -32px;
        }
    }
    .carousel-control-prev{
        &__mod{
            margin-top: 5%;
            margin-left: -32px;
        }
    }
    .sale{
        &-header{
            &-line-left{width: 120px;}
            &-line-right{width: 120px;}
        }
    }

    .footer-block-catalog{
        &-column{
            &__link{
                font-size: 16px;
            }
            &__item-work-time{
                font-size: 16px;
            }
            &-3{
                display: none;
            }
            &-2_1{
                display: none;
            }
            &-2_3{
                display: block;
            }
           

        }
    }

}

@media screen and (max-width: 992px){
    .container{
        width: 992px;
    }
    .header-block{
        padding-top: 10px;
        &-phone{
            
            padding-right: 0px;
        }
        &-center{
            padding: 0;
            margin: 0 auto;
        }
        &-operation-mode{
            padding-left: 20px;
        }
        &-basket{
            padding: 20px 0;
        }
        &-menu{
            padding-right: 0;
            &-list{
                &-item{
                    width: 100%;
                }
            }
        }
    }
    .advertising-block {
        &-big{
            &-img{
                height: 400px;
            }
        }
        &-small{
            padding: 0;
            &-image-left{
                height: 215px;
            }
            &-block-right{
                padding: 0 0 0 15px;
                &-image{
                    height: 215px;
                }
            }
            
        }
    }
    .carousel-control-next{
        &__mod{
            margin-top: 5%;
            margin-right: -10px;
        }
    }
    .carousel-control-prev{
        &__mod{
            margin-top: 5%;
            margin-left: -10px;
        }
    }
    .sale{

        &-header{
            &-line-left{
                width: 185px;
            } 
            &-line-right{
                width: 185px;
            }   
        }
        &-block{
            width: 240px;
            min-width: 240px;
            margin: 0 auto;
             &-992{
                  display: none;
            }
        }
    }
    &.about{
        &-header{
            padding-bottom: 0px;
        }
        &-left{
            padding-top: 0;
        }
        &-right{
            padding-top: 20px;
            &-slide{
                display: none;
            }
        }
    }
    
}

@media screen and (max-width: 1200px) {
    .container {
        width: 992px;}
        .page-main {
            padding-top: 0;
            max-width: 992px;
        }
    .header-block {        
        &-phone{
            padding-left: 0px; 
                      
            }
        &__back-call{
            padding: 0px 0px 2px 25px;             
        }
        &-operation-mode {
            padding-left: 0px;
        }

        &-center {
            
            width: 250px;;
            &__img {
                padding-left: 0px;
            }
        }
        
        &-personal-area {
            line-height: 26px;
            padding-right: 0;
            padding-left: 0;
            &__title {
                padding-left: 5px;
            }
        }

        &-basket{
            padding-right: 0;
            padding-left: 0;
        }
        &-menu{
            padding-right: 0;
            &-list{
                
            }
        }
        
    } 
    .advertising-block {
        padding-top: 18;
        
        &-big {
            padding: 0;
            &-image {
                padding: 0 0 0 0;
                
                
                height: 481px;
                background-position: 50% 50%;
                background-size: cover;
            }
            &__btn {
                display: block;
                border-radius: 3px;
                background: linear-gradient(to top, #f3bd00, #f3e300);
                padding: 4px 49px 5px 39px;
                font-family:'PF Handbook Pro', Sans-Serif;
                font-weight: bold; 
                letter-spacing: 0.5px;
                color: black;
                font-size: 24px;
                text-align: center;
                position: absolute;
                right: 15px;
                bottom: 19px;
                &-up{
                    
                    right: 38px;
                    font-size: 22px;
                    padding: 2px 33px 4px 23px;
                }
    
                &-bottom {
                    font-size: 22px;
                    right: 38px;
                    font-size: 22px;
                    padding: 2px 33px 4px 23px;
                }
            }
    
        
        
        }
    
        &-small{
            padding-left: 6px;
            &-image-left {
                padding: 0;
                margin-top: 13px;
                background-image: url(../img/sale_smal.png);
                width: 385px;
                height: 280px;
                right: 0px;
                background-position: 50% 50%;
                background-size: cover;
            }
    
            &-block-right{
                padding: 0 0 0 15px;
                &-image{
                    height: 280px;
                }
            }
    
    
        }
        
    } 
    
    .sale {
        padding: 48px 0px 40px 0px;
        &-header {
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            font-family:'PF Handbook Pro', Sans-Serif;
            font-weight: bold; 
            position: relative;
            padding-bottom: 72px;
            letter-spacing: -0.3px;
            &-line-left {
                height: 1px;
                background: #000;
                float: left;
                width: 290px;
                margin-top: 21px;
            }
            &-line-right {
                height: 1px;
                background: #000;
                float: right;
                width: 290px;
                margin-top: 21px
            }
        
        }
        &-block {
            padding: 0 6px 0 0;
            max-width: 225px;
            &-image {
                &__sticker {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    margin-left: 0px;
                    width: 52px;
                    border-radius: 50px;
                    padding: 11px 0px;
                    background: #df0700;
                    color: #ffffff;
                    font-family: 'PF Handbook Pro', Sans-Serif;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: center;
                    text-transform: uppercase;
                }
                &__responsive {
                    max-width: 100%;
                }
            }
            &-text-block {
                max-width: 280px;
                border-bottom: 1px solid #d7d7d7;
                padding-top: 13px;
                padding-bottom: 22px;
                &__title {
                    text-align: center;
                    letter-spacing: 1.25px;
                    font-family:'pfhandbookpro-regular', Sans-Serif;
                    font-weight: bold;
                    height: 20px;
                }
                &-price {
                    font-family:'pfhandbookpro-regular', Sans-Serif;
                    text-align: center;
                    margin: 0px 0px -6px 0;
                    padding: 12px 0px 10px 0px;
                    &__new-price{
                        font-size: 28px;
                        color: #de0000;
                        letter-spacing: 0.37px;
                    }
                    &__new-text{
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 0.37px;
                    }
                    &__old-price {
                        font-family:'PF Handbook Pro', Sans-Serif!important;
                        font-weight: bold!important;
                        text-decoration: line-through;
                        font-size: 16px!important;
                        letter-spacing: 0.37px;
                    }
                    
                }
                &__btn {
                    display: block;
                    border-radius: 6px;
                    background: linear-gradient(to top, #f3bd00, #f3e300);
                    padding: 2px 49px 3px 58px;
                    font-family: 'PF Handbook Pro', Sans-Serif;
                    font-weight: bold;
                    letter-spacing: 0.15px;
                    color: black;
                    font-size: 18px;
                    text-align: center
                }
            }
            
            &-all-items {
                position: relative;
                &__item {
                    position: absolute;
                    right: 44px;
                    font-weight: normal!important;
                    font-size: 22px;
                    text-decoration: underline;
                }
            }
            
    
        }
    }

    .about{
        &-right{
            &__title {
                padding-bottom: 4px;
                font-size: 21px;
            }
            &-slide{
                margin: 1px -4px 0 1px;
                &__img{
                    height: 242px;
                }
            }
            &__description{
                text-indent: 14px;
                &>span{
                    font-size: 22px;
                }
            }
        }
    }


}

.container{
    padding: 0
}



.menu {
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}

a {
    color: #000;
}

h5 {
    font-family:'PF Handbook Pro', Sans-Serif;
    font-weight: bold; 
    font-size: 18px;
}

body {
    font-family:'pfhandbookpro-regular', Sans-Serif;
    margin: 0 auto;
    align-items: flex-start;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 7px;
        background: #000;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
}

.page-main {
    padding: 0;
    max-width: 1175px;
    
}

.row {
    padding-top: 0;  
    margin: 0;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.header-adaptiv{
    padding: 0px;
    &-left{
        margin: 0 auto;
    }
}

.header-block {
    margin: 0 auto;
    padding-top: 50px;
    &-phone{
        padding-left: 18px;
        line-height: 22px;
        &__phone {
            display: block;
            font-family:'PF Handbook Pro';
            font-weight: bold;
            font-size: 18px;
            letter-spacing: -0.2px;
            color: black;
        
        }
        &__back-call{
            background: url(../img/phone.png) 0 50% no-repeat;
            background-size: 16%;
            display: inline-block;
            color: black;
            padding: 0px 0px 2px 28px;
            margin: 3px 0px 0px 16px;
        }
    }

    &-operation-mode {
        padding-left: 0px;
        padding-right: 0px;
        line-height: 22px;
        letter-spacing: -0.2px;
        &__title {
            padding-left: 7px;
        }
    }

    &-center {
        width: 400px;
        margin-top: -14px;
        &__img {
            padding-left: 43px;
            margin-bottom: 4px;
            max-width: 83%;
        }
        &__adress {
            text-align: center;
            line-height: 18px;
            letter-spacing: -0.2px;
        }
    }
    
    &-personal-area {
        line-height: 26px;
        padding-left: 19px;
        &__title {
            padding-left: 20px;
        }
        &-inter {
            display: flex;
            padding: 0px 0px 0 6px;
            align-items: center;
            &__inter {
                margin-left: 13px;
                margin-right: -3px;
                letter-spacing: -0.2px;
                color: black;
                border-bottom: 1px solid;
                line-height: 1;
            }
            &__register {
                margin-left: -5px;
                letter-spacing: -0.2px;
                color: black;
                border-bottom: 1px solid;
                 line-height: 1;
            }

        }
        &-search {
            width: 100%;
            max-width: 149px;
            margin: 0px auto;
            display: inline-block;
            padding: 4px 0px 0px 3px;
            position: relative;
            &__input {
                width: 100%;
                border: 1px solid #d7d7d7;
                padding: 4px 7px;
            }
            &__btn {
                position: absolute;
                top: 4px;
                right: -1px;
                padding-top: 5px;
                height: 27px;
                width: 27px;
                background: rgba(243, 227, 0, 0.78);
                border: 0px;
                background-size: 16px;
                cursor: pointer;
            }
        
        }
    }
    &-basket {
        padding-top: 26px;
        padding-left: 3px;
        
             background: url(../img/Shopping-Cart-icon.png) 0 50% no-repeat;
        background-size: 20%;
        color: black;
        
       
        &__link {
            // background: url(../img/Shopping-Cart-icon.png) 0 50% no-repeat;
            // background-size: 20%;
            color: black;
            padding: 18px 0px 10px 48px;
            font-size: 18px;
        }

    }
    
    &-menu {
        margin-top: 16px;
        padding-left: 0;
        &-list {
            width: 100%;
            list-style-type: none;
            display: flex;
            background: linear-gradient(to top, #1a1a1a, #424242);
            &__link {
                color: white;
                
            }
            &-item {
                width: 28%; 
                text-align: center;
                letter-spacing: 1.4px;
                padding: 18px 0 18px 0;
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    background: #131313;
                    width: 100%;
                    height: 8px;
                }
                &::after { 
                    content: '';
                    position: absolute;
                    top: 2px;
                    right: 0px;
                    background: url(../img/line.png) 0 0 repeat-y;
                    width: 2px;
                    height: calc(100% - 2px);
                    
                }
                &-sub-menu {
                    height: 0; overflow: hidden; opacity: 0; transition: all 0.5s ease-in;
                    
                    position: absolute;
    
                    
                    &-name {
                        
                        
                    }
                }
            }
            
        }
    }
}
.btn-secondary {
    background-color: transparent!important ;
    border-color: transparent !important ;
}
.btn-secondary:hover {
    background-color: transparent;
    border-color: transparent!important ;
}
.show>.btn-secondary.dropdown-toggle{
    background-color: transparent!important ;
    border-color: transparent!important ;
    
}

.dropdown-menu.show{
    background-color: #424242;
    &>a{
        font-size: 20px;
    }
}


.navbar {
    padding: 0;
}
// Dark links against a light background
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link {
    color:white;
}


.advertising{
    padding-top: 18px;
}



.advertising-block {
    padding-top: 18;
    
    &-big {
        width: 795px;
        padding: 0;
        &-img {
            padding: 0 0 0 0;
            height: 481px;
        }
        &__btn {
            display: block;
            border-radius: 3px;
            background: linear-gradient(to top, #f3bd00, #f3e300);
            padding: 4px 49px 5px 39px;
            font-family:'PF Handbook Pro', Sans-Serif;
            font-weight: bold; 
            letter-spacing: 0.5px;
            color: black;
            font-size: 24px;
            text-align: center;
            position: absolute;
            right: 15px;
            bottom: 19px;
            &-up{
                right: 38px;
                font-size: 22px;
                padding: 5px 16px 5px 23px;
            }

            &-bottom {
                font-size: 22px;
                right: 38px;
                font-size: 22px;
                padding: 2px 33px 4px 23px;
            }
        }
    }

    &-small{
        padding-left: 6px;
        &-image-left {
            padding: 0;
            background-image: url(../img/sale_smal.png);
            height: 236px;
            right: 0px;
            background-position: 50% 50%;
            background-size: cover;
        }
        &-block-right{
            padding: 0px;
             &-image{
                padding: 0;
                margin-top: 13px;
                background-image: url(../img/size_free.jpg);
                height: 236px;
                background-position: 50% 50%;
                background-size: cover;
            }

        }

    }
    
}
.carousel-control-next{
    &-icon{
      color:black;  
      background-image: url(../img/next-icon.png);
      width: 20px;
      height: 30px;
    }
    &__1{
        height: 71%;
        margin-top: 9%;
    }
    &__mod{
        height: 71%;
        margin-top: 5%;
        margin-right: -74px;
    }
}
.carousel-control-prev{
    &-icon{
      color:black;  
      background-image: url(../img/prev-icon.png);
      width: 20px;
      height: 30px;
    }
    &__mod{
        height: 71%;
        margin-top: 5%;
        margin-left: -74px;
    }
    
}

.sale {
    
    padding: 48px 40px 40px 40px;
    &-header {
        padding: 0;
        padding-bottom: 72px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        font-size: 30px;
        font-family:'PF Handbook Pro', Sans-Serif;
        font-weight: bold; 
        position: relative;
        padding-bottom: 72px;
        letter-spacing: -0.3px;
        &-line-left {
            height: 1px;
            background: #000;
            float: left;
            width: 400px;
            margin-top: 21px;
        }
        &-line-right {
            height: 1px;
            background: #000;
            float: right;
            width: 400px;
            margin-top: 21px
        }
    
    }


    &-block {
        padding: 0 6px 0 0;
        max-width: 280px;
        width: 280px;
        &-image {
            &__sticker {
                position: absolute;
                top: 6px;
                left: 6px;
                margin-left: 0px;
                width: 52px;
                border-radius: 50px;
                padding: 11px 0px;
                background: #df0700;
                color: #ffffff;
                font-family: 'PF Handbook Pro', Sans-Serif;
                font-weight: bold;
                font-size: 20px;
                text-align: center;
                text-transform: uppercase;
            }
            &__responsive {
                height: 280px;
                max-width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
        

        &-text-block {
            max-width: 280px;
            border-bottom: 1px solid #d7d7d7;
            padding-top: 13px;
            padding-bottom: 22px;
            &__title {
                text-align: center;
                letter-spacing: 1.25px;
                font-family:'pfhandbookpro-regular', Sans-Serif;
                font-weight: bold;
            }
            &-price {
                font-size: 36px;
                font-family:'pfhandbookpro-regular', Sans-Serif;
                text-align: center;
                margin: 0px 0px -6px 0;
                padding: 12px 0px 10px 0px;
                &__new-price{
                    font-size: 36px;
                    color: #de0000;
                    letter-spacing: 0.37px;
                }
                &__new-text{
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0.37px;
                }
                &__old-price {
                    font-family:'PF Handbook Pro', Sans-Serif!important;
                    font-weight: bold!important;
                    text-decoration: line-through;
                    font-size: 16px!important;
                    letter-spacing: 0.37px;
                }
                
            }
            &__btn {
                display: block;
                border-radius: 6px;
                background: linear-gradient(to top, #f3bd00, #f3e300);
                padding: 2px 49px 3px 58px;
                font-family: 'PF Handbook Pro', Sans-Serif;
                font-weight: bold;
                letter-spacing: 0.15px;
                color: black;
                font-size: 18px;
                text-align: center
            }
        }
        
        &-all-items {
            position: relative;
            &__item {
                position: absolute;
                right: 44px;
                font-weight: normal!important;
                font-size: 22px;
                text-decoration: underline;
            }
        }
        
    }
}


.footer {
    background: #f1f1f1;
    padding: 23px 0px 23px 64px;
    &-block {
        margin: 26px 0px 0 0px;
        background-color: #424242;
        &-catalog {  
            display: flex;
            &-column{
                display: block;
                width: 232px;
                padding-bottom: 10px;
                &__title{
                    text-transform: uppercase;
                    padding-bottom: 14px;
                } 
                &>ul {
                    line-height: 27px;
                    font-size: 18px;
                    letter-spacing: 0.2px;
                     
                }     
                &__item {
                    list-style-type: none;
                    text-decoration: underline; 
                    &-contact{
                        text-decoration: none;
                    }
                    &-work-time {
                        text-decoration: none;
                        letter-spacing: -0.6px;
                        line-height: 14px;
                        padding-top: 6px
                    }
                        
                }
                &__link {
                    &-phone {
                        text-decoration: none;
                        letter-spacing: -0.2px;
                    }
                }
                &-1_2{
                    &__header{
                        padding-top: 10px;
                    }
                    display: none;
                }
                &-2_1{
                    
                    display: none;
                }
                &-2_3{
                    &__title{
                        padding-top: 10px;
                    }
                    display: none;
                }
            }
             
  
        } 
        &-info {
            padding: 54px 62px 0 13px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            &-left{
                &>a{
                    padding-right: 21px;
                    &>img{
                    width: 30px;
                    height: 30px;
                    border-radius: 5px;
                    }

                }
            }
            &-right{
                font-size: 18px;
                font-family: 'PF Handbook Pro', Sans-Serif;
                font-weight: bold;
                
            }
            
            
        }
    
    
    }
    &-carousel{
        display: none;
    }
    
}



// aside
.aside_title {
    padding: 15px 0;
    text-align: center;
    font-family: 'PF Handbook Pro', Sans-Serif; 
    font-weight: bold;
    border-bottom: 1px solid #dedede;
}

#column-left {
    float: left;
    width: 286px;
}
#m_body li ul { 
    display: none; 
    } 
  #m_body li:hover ul, #m_body li.over ul { 
    display: block; 
    } 
    #m_body { 
    text-align:left; 
    border: 1px solid #c8c8c8;
    background: white; 
     
    } 

    
  #m_body a { 
    display: block; 
    
    padding-left: 15px; 
    }  
  
  #m_body ul li { 
    list-style-type: none; 
    width: 100%;
    line-height: 24px; 
     
    padding-left: 0px; 
    }  
  
  #m_body ul li a { 
    padding: 7px 20px 7px 20px; 
    border-bottom: 1px solid #dedede;
    text-decoration: none; 
    font-size: 24px; 
    font-family: 'PF Handbook Pro', Sans-Serif; 
    font-weight: bold;
    }  
  
  #m_body ul li a:hover { 
    transition: all 0.4s;  
    color: black; 
    text-decoration: none; 
    background-color: rgba(243, 227, 0, 0.78); 
    }  
  
  #m_body ul li ul li { 
    
     
    border: 0; 
    list-style-type: none; 
    list-style-position: inside; 
    background:white; 
     
    }  
  
  #m_body ul li ul li a { 
    padding-left: 34px;
    color:black; 
    font-size: 20px;
    }  
  
    #m_body ul li ul li a:hover { 
        color:black; 
        background-color: rgba(243, 227, 0, 0.78); 
    }

    #m_body ul li ul li ul li  a { 
        padding-left: 48px;
        color:black; 
        font-size: 18px;
    }  

    #m_body ul li ul li ul li ul li  a { 
        padding-left: 62px;
        color:black; 
        font-size: 16px;
    }  
    // aside end

    // content
    .el-porta {

        &-block {
            padding: 0 6px 0 0;
            max-width: 307px;
            min-width: 233px;
            // margin: 0 auto;
            &-image {
                
                &__sticker {
                    position: absolute;
                    top: 6px;
                    left: 6px;
                    margin-left: 0px;
                    width: 52px;
                    border-radius: 50px;
                    padding: 11px 0px;
                    background: #df0700;
                    color: #ffffff;
                    font-family: 'PF Handbook Pro', Sans-Serif;
                    font-weight: bold;
                    font-size: 20px;
                    text-align: center;
                    text-transform: uppercase;
                }
                &__responsive {
                    max-width: 100%;
                    width: 137px;
                    height:  275px;
                    display: block;
                     margin: 0 auto;
                }
            }
            
    
            &-text-block {
                max-width: 280px;
                border-bottom: 1px solid #d7d7d7;
                padding-top: 13px;
                padding-bottom: 22px;
                &__title {
                    text-align: center;
                    letter-spacing: 1.25px;
                    font-family:'pfhandbookpro-regular', Sans-Serif;
                    font-weight: bold;
                    height: 20px;
                }
                &-price {
                    font-size: 36px;
                    font-family:'pfhandbookpro-regular', Sans-Serif;
                    font-weight: bold;
                    text-align: center;
                    margin: 0px 0px -6px 0;
                    padding: 12px 0px 10px 0px;
                    &__new-price{
                        font-size: 30px;
                        letter-spacing: 0.37px;
                    }
                    &__new-text{
                        font-size: 18px;
                        font-weight: 400;
                        letter-spacing: 0.37px;
                    }
                    &__old-price {
                        font-family:'PF Handbook Pro', Sans-Serif!important;
                        font-weight: bold!important;
                        text-decoration: line-through;
                        font-size: 16px!important;
                        letter-spacing: 0.37px;
                    }
                    
                }
                &__btn {
                    display: block;
                    border-radius: 6px;
                    background: linear-gradient(to top, #f3bd00, #f3e300);
                    padding: 2px 49px 3px 58px;
                    font-family: 'PF Handbook Pro', Sans-Serif;
                    font-weight: bold;
                    letter-spacing: 0.15px;
                    color: black;
                    font-size: 18px;
                    text-align: center
                }
            }
            
            &-all-items {
                position: relative;
                &__item {
                    position: absolute;
                    right: 44px;
                    font-weight: normal!important;
                    font-size: 22px;
                    text-decoration: underline;
                }
            } 
    
        }
    }

    .ms2_form{
        width: 100%;
        
    }

    .pagination > li > a {
        
        color: black;
        
    }
    
    .pagination > li:active  > a  {
        background-color:black;
        
        border-color: black;
    }
    
    

.about {
    padding-top: 60px;
    &-header {
        padding-bottom: 41px;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 0.7px;
    }
    &-left {
        padding: 20px 0 0 0;
        &>img{
            width: 99%;
        }
    }
    &-right {
        padding-left: 24px;
        &__title {
            padding-bottom: 21px;
            font-size: 24px;
            font-weight: bold;
            
        }
        &__description{
            line-height: 20px;
            font-size: 18px;
            &>span{
                font-weight: bold;
                font-size: 28px;
                letter-spacing: 2px;
            }
        }
        &-slide{
            margin: 16px -4px 0 1px
        }
    }
}

.news{
    &-header{
        padding-bottom:46px;
    }
    &-block {
        padding: 0px 6px 0 0;
        
        &>img {
            height: 230px;
        }
        &>p{
            font-size: 14px;
            text-indent: 14px;
            line-height: 17px;
            padding-bottom: 7px;
        }
        >h5{
            padding: 15px 0 15px 5px;
            font-weight: bold;
        }
        &>a{
            text-indent: 5px;
            border-bottom: 1px solid black;
        }
        &__btn {
            display: block;
        border-radius: 3px;
        background: linear-gradient(to top, #f3bd00, #f3e300);
        padding: 5px 12px 5px 19px;
        font-family: 'PF Handbook Pro', Sans-Serif;
        font-weight: bold;
        letter-spacing: -0.4px;
        color: black;
        font-size: 24px;
        text-align: center;

        right: 15px;
        bottom: 19px;
        margin-top: 33px;
        width: 212px;
        margin: 32px auto;
        }
    }
}


// product card 


    



#products_example {
    position:relative;
    padding: 0;
}

#products {
	// margin-left:26px;
}

#products .next,#products .prev {
	
	height:0;
	
	overflow:hidden;
	display:block;
	
}


#products .slides_container {
	width: 318px;
    height: 352px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
}

#products .slides_container .slides_control a {
    padding-top: 15px;
}


#products .pagination {
	background:#dfdfdf;
	width:312px;
	// padding:5px 5px;
	float:left;
	margin-top:20px;
	border-radius:5px;
	
}

#products .pagination li {
	float:left;
	margin:2px 4px;
}

#products .pagination li a {
	display:block;
	width:95px;
	height:93px;
	margin:1px;
	float:left;
	background:#f9f9f9;
}

#products .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}

.product-block{
    &-right{
        padding-left: 53px;
        &__title{
            padding-bottom: 2px;
            letter-spacing: -0.3px;
            font-family: 'PF Handbook Pro', Sans-Serif;
            font-weight: bold;
        }

        &>p{
            font-size: 18px;
            line-height: 42px;
        }

        &__brand{
            font-weight: bold;
        }

        &__model{
            padding-left: 23px;
        }

        &__size{
            letter-spacing: -1.1px;
        }

        &__opening{
            letter-spacing: -1.1px;
        }
        &__color{
            letter-spacing: -1.1px;
            padding-bottom: 13px;
        }
        &__price{
            margin-right: 8px;
            letter-spacing: -1.1px;
            font-size: 54px!important;
        }
        &__text{
            font-size: 13px!important;
            margin-top: -15px;
            margin-bottom: 10px
        }

        &-check-block{
            border: 1px solid #f3e300;
            box-shadow: 0px 0px 4px #d2d2d2;
            padding: 3px 22px;
            margin-bottom: 23px;
            border-radius: 2px;
            &__title{
                font-size: 23px!important;
                margin-bottom: 4px;
            }
            &-string{
                &__label{
                    letter-spacing: 0.2px;
                }
            }
        }

        &-add-card{
        
            &>button{
                background: #f3e300;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.25px;
                border: 0px;
                padding: 8px 36px;
                margin-right: 6px;
                cursor: pointer;
                border-radius: 4px;
            }
        }
    }
}

.flashcards {
    margin-bottom: 80px
}

.description-block{
    padding: 0;
    &__title{
        font-size: 22px!important;
        font-weight: bold;
        text-align: center;
        letter-spacing: 1.3px;
    }
    &__specifications{
        column-count: 2;
        column-width: 155px;
        column-gap: 1;
        padding: 18px 49px 0 28px;
        font-size: 15px;
        letter-spacing: -0.3px;
        line-height: 23px;

    }
    &__description{
        padding: 23px 38px 0 6px;
        
        font-size: 14px;
    }
}

.basket-block{
    padding-left: 0px;
    &-table {
        &>thead td{
        background: #333;
        color: #fff;
        font-size: 18px;
        }
    }
    
}

.stocks{
    &-header{
        font-size: 24px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: bold;
    }
    &-block{
        &-title{
            font-weight: bold;
            text-decoration: underline;
        }
        &>p{
            font-size: 18px;
            text-indent: 14px;
            line-height: 18px;
            padding-top: 5px;
            padding-bottom: 15px
        }
        &>img{
            display: block;
            margin: 0 auto;
        }
    }    
}

.news-list-block{
    margin-right: -10px;
    padding-right: 34px;
    padding-top: 5px;
    padding-left: 0px;
    
    &>img {
        height: 334px;
    }
    &-text-block{
        padding-left: 7px;
        &-title{
            padding: 16px 0 0 0px;
            letter-spacing: -0.2px;
        }
        &>a{
            text-indent: 5px;
            border-bottom: 1px solid black
        }
        &>p{
            padding-top: 9px;
            padding-bottom: 3px;
            letter-spacing: 0.25px;
            text-indent: 13px;
            font-size: 13px;
            font-family:'pfhandbookpro-regular', Sans-Serif;
            
        }
    }
    
}

.size{
    &-header{
        font-size: 24px;
            font-weight: bold;
    }
    &-block{
        padding-left: 0;
        &-title{
            padding-bottom: 20px;
            text-indent: 14px;
            font-size: 20px;
            font-weight: bold;

        }
        &>img{

        }
        &>p{
            padding-left: 7px;
            font-size: 16px;
            line-height: 18px;
            
        }
        &-small-header{
            font-size: 20px;
            font-weight: bold;
            padding: 20px 0;
            text-indent: 14px;
        }
        &>ul{
            padding-left: 24px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    

    }
}    

.delivery-block{
    &-header{
        padding-top: 26px;
        text-indent: 14px;
        font-size: 20px;
        font-weight: bold;
    }
    &-image{
        display: block;
        margin: 0 auto;
    }
    &-title{
        font-size: 24px;
            font-weight: bold;
    }
    &-text{
        padding: 6px 0;
        line-height: 16px;
        font-size: 13px;
        
    }
}

// Авторизация
.loginLoginFieldset{
    margin: 0;
    
}

.loginLegend{
    font-weight: bold;
    margin: 0 auto;
    padding-top: 0;
}

.login-button{
    background: #f3e300;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.25px;
    border: 0px;
    padding: 8px 36px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
   
}
.form-buttons{
    padding-top: 20px;
    &>input{
        
        background: #f3e300;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 0.25px;
        border: 0px;
        padding: 8px 36px;
        margin-right: 6px;
        cursor: pointer;
        border-radius: 4px;
        width: 100%;
    }
    
}

.loginPassword{
    width: 100%;
}
.loginUsername{
    width: 100%;
} 

.login-remember{
    
    display: block;
    font-weight: bold;
}

.loginPasswordLabel{
    width: 100%;
}

.loginUsernameLabel{
    width: 100%;
}

#username, #password, #password_confirm, #fullname, #email, #custom_field{
    width: 100%;
}

.sucsess-registration-block{
    margin: 0 auto;
    margin-top: 20px;
    background: linear-gradient(to top, #d1d1d1, #ffffff);
    border: 2px solid #000;
    &__title{
        text-align: center;
        font-size: 22px;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: 20px;

    }
    &__text{
        text-indent: 14px;
        padding: 5px;
    }
}

.loginRegister>a{
    background: #f3e300;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.25px;
    border: 0px;
    padding: 8px 36px;
    margin-right: 6px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}