<!DOCTYPE html>
<html lang="ru">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>gulp-scss-starter</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" href="../styles/main.css" >
	</head>
		<body class="no-svg">
			<div class="page-main container-fluid">
				<header>
					<div class="header-block">
						<div class="row">
							<div class="header-block-phone col-md-2">
								<a href="" class="header-block-phone__phone">+375 (44) 594-65-30</a>
								<a href="" class="header-block-phone__phone">+375 (29) 387-61-79</a>
								<a href="" class="header-block-phone__back-call">Обратный звонок</a>
							</div>
							<div class="header-block-operation-mode col-md-2">
								<h5 header-block-operation-mode__title>РЕЖИМ РАБОТЫ</h5>
								<p>Пн. - Пт.: 9.00 - 18.00</p>
								<p>Сб. - Вс.: 9.00 - 16.00</p>
							</div>
							<div class="header-block-center">
								<a href="" class="header-block-center__logo col-md-4" ><img class="header-block-center__img" src="../img/LOGO.png" alt=""></a>
								<p class="header-block-center__adress">Магазин окон и дверей</p>
								<p class="header-block-center__adress">Жлобин, ул. Петровского д.39</p>
							</div>
							
							<div class="header-block-personal-area col-md-2">
								<h5 class="header-block-personal-area__title">ЛИЧНЫЙ КАБИНЕТ</h5>
								<div class="header-block-personal-area-inter">
									<i class="fas fa-user"></i>
									<a class="header-block-personal-area-inter__inter" href="">Вход</a>
									<p> &#8194/&#8194 </p>
									<a class="header-block-personal-area-inter__register" href="">Регистрация</a>
								</div>
								
								<div class="header-block-personal-area-search">
									<input type="text" placeholder="Искать здесь..." class="header-block-personal-area-search__input">
										<span class="input-group-btn">
											<button type="button" class="header-block-personal-area-search__btn"><i class="fa fa-search"></i></button>
										</span>	
								</div>
							</div>
							<div class="header-block-basket">
								<a class="header-block-basket__link col-md-2" href=""  >Корзина пуста</a>
							</div>
							

						</div>
						<div class="row menu">
							<div class="header-block-menu col-md-12">
								<nav>
									<ul class="header-block-menu-list">
										<li class="header-block-menu-list__item active"><a class="header-block-menu-list__link" href="" >ГЛАВНАЯ</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">КАТАЛОГ</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">УСЛУГИ</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">НОВОСТИ</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">О КОМПАНИИ</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">ПРАЙС</a></li>
										<li class="header-block-menu-list__item"><a class="header-block-menu-list__link" href="">КОНТАКТЫ</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</header>

				<div class="container">
					<div class="row advertising">
						<div class="advertising-block-big col-md-12 col-xl-8   ">								
							<div class="advertising-block-big-image">
								<a href="" class="advertising-block-big__btn">Выбрать</a>									
							</div>
							
						</div>
						<div class="advertising-block-small col-md-6 col-xl-4">
							<div class="advertising-block-small-image">
								<a href="" class="advertising-block-big__btn advertising-block-big__btn-up">Подробнее</a>
							</div>
								
							<div class="advertising-block-small-image advertising-block-small-image-free">
								<a href="" class="advertising-block-big__btn advertising-block-big__btn-bottom">Заказать</a>	
							</div>
								
							</div>	
					</div>

					
				</div>

				<div class="container">
					

					<div class="row sale">
						<div class="sale-header col-md-12">
							<span class="sale-header-line-left"></span>
							ДВЕРИ НА СКИДКЕ
							<span class="sale-header-line-right"></span>
						</div>

						<div class="sale-block col-md-3">
							<div class="sale-block-image">
								<div class="sale-block-image__sticker" href="">-14%</div>
								<img class="sale-block-image__responsive" src="../img/sale_1.jpg" alt="" >
							</div>
							<div class="sale-block-text-block">
								<P class="sale-block-text-block__title">Дверная ручка .L027 SN</P>
								<P class="sale-block-text-block-price">
									<span class="sale-block-text-block-price__new-price">17,00 
										<span class="sale-block-text-block-price__new-text">руб.</span>
									</span>
									<span class="sale-block-text-block-price__old-price">19,80 
										<span class="sale-block-text-block-price__old-text">руб.</span>
									</span>
								</P>
							<a class="sale-block-text-block__btn" href="">Смотреть</a>
							</div>	
						</div>
						<div class="sale-block col-md-3">
							<div class="sale-block-image">
								<div class="sale-block-image__sticker" href="">-14%</div>
								<img class="sale-block-image__responsive" src="../img/sale_1.jpg" alt="" >
							</div>
							<div class="sale-block-text-block">
								<P class="sale-block-text-block__title">Дверная ручка .L027 SN</P>
								<P class="sale-block-text-block-price">
									<span class="sale-block-text-block-price__new-price">17,00 
										<span class="sale-block-text-block-price__new-text">руб.</span>
									</span>
									<span class="sale-block-text-block-price__old-price">19,80 
										<span class="sale-block-text-block-price__old-text">руб.</span>
									</span>
								</P>
							<a class="sale-block-text-block__btn" href="">Смотреть</a>
							</div>	
						</div>
							

						<div class="sale-block col-md-3">
							<div class="sale-block-image">
								<div class="sale-block-image__sticker" href="">-14%</div>
								<img class="sale-block-image__responsive" src="../img/sale_1.jpg" alt="" >
							</div>
							<div class="sale-block-text-block">
								<P class="sale-block-text-block__title">Дверная ручка .L027 SN</P>
								<P class="sale-block-text-block-price">
									<span class="sale-block-text-block-price__new-price">17,00 
										<span class="sale-block-text-block-price__new-text">руб.</span>
									</span>
									<span class="sale-block-text-block-price__old-price">19,80 
										<span class="sale-block-text-block-price__old-text">руб.</span>
									</span>
								</P>
							<a class="sale-block-text-block__btn" href="">Смотреть</a>
							</div>	
						</div>
						<div class="sale-block col-md-3">
							<div class="sale-block-image">
								<div class="sale-block-image__sticker" href="">-14%</div>
								<img class="sale-block-image__responsive" src="../img/sale_1.jpg" alt="" >
							</div>
							<div class="sale-block-text-block">
								<P class="sale-block-text-block__title">Дверная ручка .L027 SN</P>
								<P class="sale-block-text-block-price">
									<span class="sale-block-text-block-price__new-price">17,00 
										<span class="sale-block-text-block-price__new-text">руб.</span>
									</span>
									<span class="sale-block-text-block-price__old-price">19,80 
										<span class="sale-block-text-block-price__old-text">руб.</span>
									</span>
								</P>
							<a class="sale-block-text-block__btn" href="">Смотреть</a>
							</div>	
						</div>
													
						


	
					</div>
					<div class="sale-block-control"></div>
					<div class="sale-block-all-items">
						<a class="sale-block-all-items__item" href="">Смотреть все двери на скидке</a>
					</div>
				</div>





				<footer>
					<div class="footer-block">
					<div class="row footer">
						
							<div class="footer-block-catalog col-md-2" >
								<h5>Каталог</h5>
								<ul>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Входные двери</a>	</li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Межкомнатные двери</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Окна ПВХ</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Мебель</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Карта сайта</a></li>
								</ul>
							</div>
							<div class="footer-block-catalog col-md-2">
								<h5>Услуги</h5>
								<ul>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Замер</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Доставка</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Установка</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Врезка фурнитуры</a></li>
								</ul>
							</div>
							<div class="footer-block-catalog col-md-2">
								<h5>Оплата</h5>
								<ul>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Рассрочка</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Оплата наличными</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Интернет-платеж</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Возврат товара</a></li>
								</ul>
							</div>
							<div class="footer-block-catalog col-md-2">
								<h5>Информация</h5>
								<ul>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Акции</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Новости</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Советы и статьи</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Партнерам</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Отзывы</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link" href="">Вопрос-ответ</a></li>
								</ul>
							</div>
							<div class="footer-block-catalog col-md-2">
								<h5>Связаться с нами</h5>
								<ul>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link href=">Контакты</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link href=">+375 (33) 566-95-12</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link href=">+375 (33) 566-95-12</a></li>
									<li class="footer-block-catalog__item"><a class="footer-block-catalog__link href=">pakrovska@mail.ru</a></li>
								</ul>
								<ul>
									<li class="footer-block-catalog__item">
										<p>Режим работы:</p>
									</li>
									<li class="footer-block-catalog__item">
										<p>Пн. - Пт.: 9.00 - 18.00</p>
									</li>
									<li class="footer-block-catalog__item">
										<p>Сб. - Вс.: 10.00-17.00</p>
									</li>
									<li class="footer-block-catalog__item">
										<p>Без выходных</p>
									</li>
								</ul>
							</div>
							

						
						<div class="row"></div>
					</div>
				</footer>  


			</div>	
			
				
					
						
						
					
						
				
			
				
			
			
	</body>
</html>